deb <%= @mirror.url %> <%= @mirror.archive %> <%= @mirror.components.join(' ') %>
deb http://security.debian.org <%= @mirror.archive %>/updates <%= @mirror.components.join(' ') %>
deb <%= @mirror.url %> <%= @mirror.archive %>-updates <%= @mirror.components.join(' ') %>
<% @sources.each do |source| %>
<%= source.type %> <%= source.url %> <%= source.archive %> <%= source.components.join(' ') %>
<% end %>
